@import '_theme';

.summary {
  font-size: 0.875rem;
}

.code-modal {
  background: $modal;
  border: 1px solid $lightGray;
  color: white;
  height: 100%;
  left: 5%;
  padding: 40px 14px;
  position: absolute;
  top: 0;
  width: 90%;
  z-index: 10;
  @include responsive(500px) {
    font-size: 2rem;
    padding: 80px 40px;
  }
}

.cancel {
  color: $lightGray;
  font-size: 36px;
  height: 18px;
  line-height: 3px;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 18px;
  z-index: 20;
  &:after {
    content: '\00D7';
  }
  &:hover {
    color: white;
  }
}

.subs {
  padding: 12px 0 12px 0;
}

li {
  .subs & {
    background: inherit;
    cursor: default;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
    @include responsive(500px) {
      margin-bottom: 16px;
    }
  }
}

.sign {
  min-width: 24px;
  @include responsive(500px) {
    min-width: 50px;
  }
}
