@import '_theme';

input {
  padding: 4px 10px;
  text-align: center;
  width: 100%;
}

.ninput {
  margin-top: 20px;
  text-align: center;
}

.codes {
  align-content: flex-end;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px -4px;
  position: relative;
}

li {
  .codes & {
    background: $darkBlue;
    color: white;
    cursor: pointer;
    flex-grow: 1;
    margin: 4px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: auto;
    @include responsive(500px) {
      padding: 24px;
      width: 240px;
    }
  }
}

.title {
  font-size: 1.5rem;
  @include responsive(500px) {
    margin-bottom: 12px;
  }
}
